{% extends "AppCoder/padre.html" %}


{% load static %}
    
        {% block contenido7 %}
            <h1>Busca Tu auto o vehiculo</h1>
        {% endblock %}

        {% block contenido8 %}
            
            <h1>Buscando Auto...</h1>
            
            <!-- <form action="/AppCoder/buscar/" method="GET" >
            
                <input type="text" name="marca" id="marca">

                <input type="sumbit" value="Buscar"

            
            </form>
         -->
        
        {% endblock %}


