{% extends "AppCoder/padre.html" %}
    {% load static %}
        {% block contenido5 %}

        <h1>Ingrese los datos de su vehiculo</h1>
        <p>Venda aqui</p>

        <form action="/AppCoder/vender" method="POST">{% csrf_token %}

            <p>Marca: <input type="text" name= "marca"></p>
            <p>Modelo: <input type="text" name= "modelo"></p>
            <p>Año: <input type="number" name= "anio"></p>


            <input type="submit" value="Enviar">

        </form>



        {% endblock %}